In [57]:
import pandas as pd
import numpy as np
from datetime import datetime
df=pd.read_csv('/home/duongnguyen/Downloads/sphist.csv')

In [58]:
#print(df.head(10) )
df["Date"]=pd.to_datetime(df["Date"])
df=df.sort_values(by=['Date'],ascending=True)
#print(df['Date'].iloc[:])  
df['day_5']=0
df['day_20']=0
df['day_50']=0
df.reset_index(inplace=True)
df.head(5)

,index,Date,Open,High,Low,Close,Volume,Adj Close,day_5,day_20,day_50
0,16589,1950-01-03,16.66,16.66,16.66,16.66,1260000.0,16.66,0,0,0
1,16588,1950-01-04,16.85,16.85,16.85,16.85,1890000.0,16.85,0,0,0
2,16587,1950-01-05,16.93,16.93,16.93,16.93,2550000.0,16.93,0,0,0
3,16586,1950-01-06,16.98,16.98,16.98,16.98,2010000.0,16.98,0,0,0
4,16585,1950-01-09,17.08,17.08,17.08,17.08,2520000.0,17.08,0,0,0

In [59]:

'''
for index, _ in df.iterrows():
   # print(index)
    df.loc[index,'day_5']=df['Close'].iloc[(index-5):index].mean()
    #print(df['Close'].iloc[(index-5):index].mean())
    df.loc[index,'day_20']=df['Close'].iloc[(index-20):index].mean()
    df.loc[index,'day_50']=df['Close'].iloc[(index-50):index].mean()
  # loc is to refer ditrect to df, not it copy. loc is index by name, iloc by index, ['Close'] chain location may refer to the df view or it's copy
'''
#Another method which is much faster for calculate windown mean by rolling and shift
df['day_5'] = df['Close'].rolling(5).mean() #calculate mean in window of 5 values
df['day_5'] = df['day_5'].shift()           #shift value on this columns 1 index by default to remove current value in calculating 
df['day_20'] = df['Close'].rolling(20).mean()
df['day_20'] = df['day_20'].shift()
df['day_50'] = df['Close'].rolling(50).mean()
df['day_50'] = df['day_50'].shift()

df.head(60)

,index,Date,Open,High,Low,Close,Volume,Adj Close,day_5,day_20,day_50
0,16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000,NaN,NaN,NaN
1,16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000,NaN,NaN,NaN
2,16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000,NaN,NaN,NaN
3,16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000,NaN,NaN,NaN
4,16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000,NaN,NaN,NaN
5,16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001,16.900000,NaN,NaN
6,16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000,16.974000,NaN,NaN
7,16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000,17.022000,NaN,NaN
8,16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000,16.988000,NaN,NaN
9,16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999,16.926000,NaN,NaN
10,16579,1950-01-17,16.860001,16.860001,16.860001,16.860001,1790000.0,16.860001,16.854000,NaN,NaN
11,16578,1950-01-18,16.850000,16.850000,16.850000,16.850000,1570000.0,16.850000,16.820000,NaN,NaN
12,16577,1950-01-19,16.870001,16.870001,16.870001,16.870001,1170000.0,16.870001,16.772000,NaN,NaN
13,16576,1950-01-20,16.900000,16.900000,16.900000,16.900000,1440000.0,16.900000,16.794000,NaN,NaN
14,16575,1950-01-23,16.920000,16.920000,16.920000,16.920000,1340000.0,16.920000,16.840000,NaN,NaN
15,16574,1950-01-24,16.860001,16.860001,16.860001,16.860001,1250000.0,16.860001,16.880000,NaN,NaN
16,16573,1950-01-25,16.740000,16.740000,16.740000,16.740000,1700000.0,16.740000,16.880000,NaN,NaN
17,16572,1950-01-26,16.730000,16.730000,16.730000,16.730000,1150000.0,16.730000,16.858000,NaN,NaN
18,16571,1950-01-27,16.820000,16.820000,16.820000,16.820000,1250000.0,16.820000,16.830000,NaN,NaN
19,16570,1950-01-30,17.020000,17.020000,17.020000,17.020000,1640000.0,17.020000,16.814000,NaN,NaN
20,16569,1950-01-31,17.049999,17.049999,17.049999,17.049999,1690000.0,17.049999,16.834000,16.8670,NaN
21,16568,1950-02-01,17.049999,17.049999,17.049999,17.049999,1810000.0,17.049999,16.872000,16.8865,NaN
22,16567,1950-02-02,17.230000,17.230000,17.230000,17.230000,2040000.0,17.230000,16.934000,16.8965,NaN
23,16566,1950-02-03,17.290001,17.290001,17.290001,17.290001,2210000.0,17.290001,17.034000,16.9115,NaN
24,16565,1950-02-06,17.320000,17.320000,17.320000,17.320000,1490000.0,17.320000,17.128000,16.9270,NaN
25,16564,1950-02-07,17.230000,17.230000,17.230000,17.230000,1360000.0,17.230000,17.188000,16.9390,NaN
26,16563,1950-02-08,17.209999,17.209999,17.209999,17.209999,1470000.0,17.209999,17.224000,16.9490,NaN
27,16562,1950-02-09,17.280001,17.280001,17.280001,17.280001,1810000.0,17.280001,17.256000,16.9550,NaN
28,16561,1950-02-10,17.240000,17.240000,17.240000,17.240000,1790000.0,17.240000,17.266000,16.9810,NaN
29,16560,1950-02-14,17.059999,17.059999,17.059999,17.059999,2210000.0,17.059999,17.256000,17.0095,NaN
30,16559,1950-02-15,17.059999,17.059999,17.059999,17.059999,1730000.0,17.059999,17.204000,17.0265,NaN
31,16558,1950-02-16,16.990000,16.990000,16.990000,16.990000,1920000.0,16.990000,17.170000,17.0365,NaN
32,16557,1950-02-17,17.150000,17.150000,17.150000,17.150000,1940000.0,17.150000,17.126000,17.0435,NaN
33,16556,1950-02-20,17.200001,17.200001,17.200001,17.200001,1420000.0,17.200001,17.100000,17.0575,NaN
34,16555,1950-02-21,17.170000,17.170000,17.170000,17.170000,1260000.0,17.170000,17.092000,17.0725,NaN
35,16554,1950-02-23,17.209999,17.209999,17.209999,17.209999,1310000.0,17.209999,17.114000,17.0850,NaN
36,16553,1950-02-24,17.280001,17.280001,17.280001,17.280001,1710000.0,17.280001,17.144000,17.1025,NaN
37,16552,1950-02-27,17.280001,17.280001,17.280001,17.280001,1410000.0,17.280001,17.202000,17.1295,NaN
38,16551,1950-02-28,17.219999,17.219999,17.219999,17.219999,1310000.0,17.219999,17.228000,17.1570,NaN
39,16550,1950-03-01,17.240000,17.240000,17.240000,17.240000,1410000.0,17.240000,17.232000,17.1770,NaN
40,16549,1950-03-02,17.230000,17.230000,17.230000,17.230000,1340000.0,17.230000,17.246000,17.1880,NaN
41,16548,1950-03-03,17.290001,17.290001,17.290001,17.290001,1520000.0,17.290001,17.250000,17.1970,NaN
42,16547,1950-03-06,17.320000,17.320000,17.320000,17.320000,1470000.0,17.320000,17.252000,17.2090,NaN
43,16546,1950-03-07,17.200001,17.200001,17.200001,17.200001,1590000.0,17.200001,17.260000,17.2135,NaN
44,16545,1950-03-08,17.190001,17.190001,17.190001,17.190001,1360000.0,17.190001,17.256000,17.2090,NaN
45,16544,1950-03-09,17.070000,17.070000,17.070000,17.070000,1330000.0,17.070000,17.246001,17.2025,NaN
46,16543,1950-03-10,17.090000,17.090000,17.090000,17.090000,1260000.0,17.090000,17.214001,17.1945,NaN
47,16542,1950-03-13,17.120001,17.120001,17.120001,17.120001,1060000.0,17.120001,17.174000,17.1885,NaN
48,16541,1950-03-14,17.250000,17.250000,17.250000,17.250000,1140000.0,17.250000,17.134001,17.1805,NaN
49,16540,1950-03-15,17.450001,17.450001,17.450001,17.450001,1830000.0,17.450001,17.144000,17.1810,NaN
50,16539,1950-03-16,17.490000,17.490000,17.490000,17.490000,2060000.0,17.490000,17.196000,17.2005,17.0662
51,16538,1950-03-17,17.450001,17.450001,17.450001,17.450001,1600000.0,17.450001,17.280000,17.2220,17.0828
52,16537,1950-03-20,17.440001,17.440001,17.440001,17.440001,1430000.0,17.440001,17.352001,17.2450,17.0948
53,16536,1950-03-21,17.450001,17.450001,17.450001,17.450001,1400000.0,17.450001,17.416001,17.2595,17.1050
54,16535,1950-03-22,17.549999,17.549999,17.549999,17.549999,2010000.0,17.549999,17.456001,17.2720,17.1144
55,16534,1950-03-23,17.559999,17.559999,17.559999,17.559999,2020000.0,17.559999,17.476000,17.2910,17.1238
56,16533,1950-03-24,17.559999,17.559999,17.559999,17.559999,1570000.0,17.559999,17.490000,17.3085,17.1344
57,16532,1950-03-27,17.459999,17.459999,17.459999,17.459999,1930000.0,17.459999,17.512000,17.3225,17.1438
58,16531,1950-03-28,17.530001,17.530001,17.530001,17.530001,1780000.0,17.530001,17.515999,17.3315,17.1578
59,16530,1950-03-29,17.440001,17.440001,17.440001,17.440001,2090000.0,17.440001,17.531999,17.3470,17.1750

In [75]:

df['day_520']=df['day_5']-df['day_20']
df['day_550']=df['day_5']-df['day_50']
df['day_2050']=df['day_20']-df['day_50']
df['change']=df['Close']-df['Close'].shift(-1)
df.dropna(axis=0, inplace=True)
#train and test set
train=df[df['Date']<datetime(year=2013,month=1,day=1)]
test=df[df['Date']>=datetime(year=2013,month=1,day=1)]
train.tail(4)

,index,Date,Open,High,Low,Close,Volume,Adj Close,day_5,day_20,day_50,day_520,day_550,day_2050,change
15847,742,2012-12-26,1426.660034,1429.420044,1416.430054,1419.829956,2.285030e+09,1419.829956,1436.620019,1421.007995,1413.291797,15.612024,23.328223,7.716199,1.729980
15848,741,2012-12-27,1419.829956,1422.800049,1401.800049,1418.099976,2.830180e+09,1418.099976,1431.228003,1422.052496,1413.031597,9.175507,18.196406,9.020900,15.669922
15849,740,2012-12-28,1418.099976,1418.099976,1401.579956,1402.430054,2.426680e+09,1402.430054,1427.685986,1422.460992,1412.821797,5.224994,14.864189,9.639196,-23.759887
15850,739,2012-12-31,1402.430054,1426.739990,1398.109985,1426.189941,3.204330e+09,1426.189941,1419.434009,1421.784997,1412.067798,-2.350989,7.366211,9.717200,-36.230103

In [78]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
LR_model=LinearRegression()
target=['Close']
features=train.columns.drop(['change','High','Close', 'Low', 'Open', 'Volume', 'Adj Close', 'Date','index', 'day_520', 'day_550', 'day_2050']).values          


target_change=['change']
features_change=train.columns.drop(['change','High','Close', 'Low', 'Open', 'Volume', 'Adj Close', 'Date','index', 'day_5','day_20','day_50']).values          
print(features,features_change)

['day_5' 'day_20' 'day_50'] ['day_520' 'day_550' 'day_2050']

In [79]:
LR_model.fit(train[features],train[target])
predict_close=LR_model.predict(test[features])
MAE=mean_absolute_error(predict_close,test[target])
MSE=mean_squared_error(predict_close,test[target])
print(MAE,MSE)

15.98984516079628 491.31871234755306

In [80]:
LR_model.fit(train[features_change],train[target_change])
predict_change=LR_model.predict(test[features_change])
#predict_close=LR_model.predict(test[features_change])+test['Close'].shift(-1)
MAE_change=mean_absolute_error(predict_change,test[target_change])
MSE_change=mean_squared_error(predict_change,test[target_change])
print(MAE_change,MSE_change)

10.970454258674552 227.4857191834147

In [86]:
predict_change=pd.DataFrame(predict_change)
predict_change

            0
0   -0.138587
1   -0.094049
2   -0.041531
3    0.026518
4    0.121787
5    0.164216
6    0.139520
7    0.142529
8    0.131425
9    0.122782
10   0.123026
11   0.124779
12   0.125187
13   0.127483
14   0.146833
15   0.159245
16   0.169238
17   0.171103
18   0.157731
19   0.134516
20   0.110373
21   0.099356
22   0.092745
23   0.069195
24   0.051181
25   0.043681
26   0.041905
27   0.028410
28   0.048705
29   0.040386
..        ...
708  0.398039
709  0.407584
710  0.384004
711  0.359438
712  0.414470
713  0.402346
714  0.344100
715  0.350222
716  0.372520
717  0.342650
718  0.319777
719  0.316531
720  0.233688
721  0.136877
722  0.040557
723 -0.079373
724 -0.227500
725 -0.288067
726 -0.360995
727 -0.376467
728 -0.319264
729 -0.191981
730 -0.131542
731 -0.064668
732 -0.052498
733 -0.034186
734 -0.051525
735 -0.017341
736 -0.019910
737 -0.070801

[738 rows x 1 columns]

In [85]:
len(predict_change)

738

In [84]:
len(test['Close'])

738

In [48]:

MAE_2=mean_absolute_error(test,test[target])
MSE_2=mean_squared_error(testtest[target])
print(MAE_2,MSE_2)

KeyError: 'predict'